{% extends 'main.html' %}

{% load bootstrap %}

{% block title %} Login {% endblock %}

{% block page %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% load static %}
                    <img src="{% static '/img/saitama.png' %}"
                         width="300">

                        <div class="card " style="width: 18rem;">
                            <div class="card-body">
                                <form method="post">

                                    {% csrf_token %}
                                    {{ form|bootstrap }}
                                    <p></p>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right" style="font-size: 20px;"></i>  Zaloguj </button>
                                </form>
                            </div>
                        </div>

                </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
