{% extends 'main.html' %}

{% block title %} Edytuj pojazd {{ car.nr_wewnetrzny }} {% endblock %}

{% block page %}

{% load bootstrap %}



        <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4">
                        <div class="card " style="width: 18rem;">
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        {% for f in form %}

                                        {{ f|bootstrap }}

                                        {% endfor %}
                                    <button type="submit" class="btn btn-primary">Dodaj</button>
                                </form>
                                    <a href="{% url 'all' %}">
                                        <i class="bi bi-arrow-return-left" style="font-size: 25px;"></i>
                                    </a>

                            </div>
                        </div>

                </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
