{% extends 'main.html' %}

{% block title %} Lista pojazdów {% endblock %}

{% block page %}



    <div class="add_button">
        <a href="{% url 'add' %}" class="add_button_link">
            <button type="button" class="btn btn-primary header_button_btn">
                 DODAJ <i class="bi bi-plus-circle" style="font-size: 25px; color: whitesmoke;"></i>
            </button>
        </a>
    </div>


    {% if cars|length == 0%}
        <h2>brak wpisów</h2>
    {% else %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numer</th>
                <th scope="col">Data przeglądu serwisowego</th>
                <th scope="col">Data przeglądu technicznego</th>
                <th scope="col">Przebieg</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
        {% for car in cars %}
        <tr>

            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ car.nr_wewnetrzny }}</td>
            {% if car.data_przegladu_serwisowego < allert2  %}
                <td style="color: red">{{ car.data_przegladu_serwisowego }}</td>
            {% elif car.data_przegladu_serwisowego < allert1 %}
                <td style="color: greenyellow">{{ car.data_przegladu_serwisowego }}</td>
            {% else %}
                <td>{{ car.data_przegladu_serwisowego }}</td>
            {% endif %}


{#        if termin < now:#}
{#    print('po terminie')#}
{#elif termin < now + timedelta(days=30):#}
{#    print('mniej niz 30 dni do konca')#}
{#else:#}
{#    print('ok')#}

            <td>{{ car.data_przegladu_technicznego }}</td>
            <td>{{ car.przebieg }} km</td>
            <td>
                <a href="{% url 'edit' car.id %}">
                    <i class="bi bi-pencil-square" style="font-size: 20px; color: cornflowerblue;"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'del' car.id %}">
                    <i class="bi bi-trash-fill" style="font-size: 20px; color: red;"></i>
                </a>
            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  endif %}

{% endblock %}
