{% extends 'main.html' %}

{% block title %} Lista pojazdów {% endblock %}

{% block page %}


    <a href="{% url 'add' %}">
        <i class="bi bi-plus-circle-fill" style="font-size: 2rem; color: green; padding: 5px;"></i>
    </a>

    {% if cars|length == 0%}
        <h2>brak wpisów</h2>
    {% else %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numer</th>
                <th scope="col">Data przeglądu serwisowego</th>
                <th scope="col">Data przeglądu technicznego</th>
                <th scope="col">Przebieg</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
        {% for car in cars %}
        <tr>

            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ car.nr_wewnetrzny }}</td>
            <td>{{ car.data_przegladu_serwisowego }}</td>
            <td>{{ car.data_przegladu_technicznego }}</td>
            <td>{{ car.przebieg }} km</td>
            <td>
                <a href="{% url 'edit' car.id %}">
                    <i class="bi bi-pencil-square" style="font-size: 20px; color: cornflowerblue;"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'del' car.id %}">
                    <i class="bi bi-trash-fill" style="font-size: 20px; color: red;"></i>
                </a>
            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  endif %}

{% endblock %}
