

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if user.is_authenticated %}
        Jesteś zalogowany jako {{ user.username }}
        <p></p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}


    <hr>

    {% load static %}
    <img src="{%  static 'img/saitama_login.png' %}" alt="saitama_login" height="300" width="450">
    <p></p>
    <a href="{% url 'add' %}">Dodaj pojazd</a>

    {% if cars|length == 0%}
        <h2>brak wpisów</h2>
    {% else %}
        {% for car in cars %}
        <h3>{{ car }}</h3>
        <p>{{ car.przebieg }}</p>
        <a href="{% url 'edit' car.id %}">Edytuj</a>
        <a href="{% url 'del' car.id %}">Usuń</a>
        {% endfor %}
    {%  endif %}


</body>
</html>